@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css");
@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html{
  scroll-behavior: smooth;
}

body {
  margin: auto;
  padding: 0 20px;
  max-width: 1400px;
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color:black
}

main,
nav,
footer,
ul,
.filtres,
.filtres ul,
figcaption,
form,
.populaires header{
  display: flex;
}

main {
  gap: 20px;
  margin: auto;
  border-radius: 20px;
  box-sizing: border-box;
}

nav {
  justify-content: space-between;
  align-items: center;
}

.filtres{
  gap: 20px;
}

.fa-solid {
  color:#0065FC; 
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a{
  color:#000;
  text-decoration: none;
}

footer ul{
  flex-direction: column;
}

.filtres li {
  border: solid #F2F2F2;
  border-radius: 60px;
  padding: 10px;
}

.filtres li:hover,
.filtres li:focus {
  background-color: #deebff;
}

.filtres ul{
  flex-wrap: wrap;
  align-content: space-around;
  gap: 20px;
}

.hebergements ul {
  flex-wrap: wrap;
  gap: 20px;
}


.populaires ul {
  flex-direction: column;
  gap: 20px;
}

.populaires header{
  place-items: center;
  place-content:space-between;
}

nav a{
  display: inline-block;
  border-top: solid 2px transparent;
  padding: 20px;
}

.fa-star:last-child{
  color: #F2F2F2;
}

nav a:hover,
nav a:focus {
  border-color: #0065FC;
  color: #0065FC;
}

.hebergements li {
  width: calc((100% - 40px ) / 3);
}

footer a:hover,
footer a:focus {
  color: #0065FC;
}

figure {
  margin: 0;
  background: white;
}

.hebergements a > figure {
  border: white 5px solid;
  border-radius: 20px;
}

.hebergements img {
  object-fit: cover;
  height: 150px;
  border-radius: 20px 20px 0 0;
  width: 100%;
}

.hebergements figcaption {
  flex-direction: column;
  justify-content: space-between;
  height: 100px;
  padding: 5px;
}

 figcaption h3,
 figcaption p {
  margin: 0;
}

.populaires a > figure {
  display: flex;
  height: 150px;
  border: white 5px solid;
  border-radius: 20px;
}

.fa-info{
  border-radius: 50%;
  border: 1px #F2F2F2 solid;
  padding: 5px 2px;
}

.fa-location-dot{
  color: #000;
  background-color: #F2F2F2;
  padding: 11px 12px 13px;
  border-radius: 10px 0 0 10px;
}

button{
  background-color:#0065FC;
  color:#fff;
  padding:11px;
  border: none;
  border-radius: 0 10px 10px 0;
}

input{
  border-top: 1px solid #F2F2F2;
  border-bottom: 1px solid #F2F2F2;
  border-right: none;
  border-left: none;
  padding: 10px;
  margin: 0 -5px;
}

figcaption{
  background: white;
  padding: 10px;
  justify-content: space-between;
  flex-direction: column;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.populaires img {
  width: 100px;
  height:150px;
  border-radius: 20px 0 0 20px;
}

.filtres {
  align-items: center;
  align-content: space-between;
}

.Booki{
  max-width: 80px;
}

.hebergements {
  box-sizing: border-box;
  border-radius: 20px;
  padding: 20px;
  width: 70%;
  background: #F2F2F2;
}

.activites{
  margin-bottom: 50px;
}

.activites ul{
  gap:20px;
}

.populaires {
  box-sizing: border-box;
  border-radius: 20px;
  padding: 20px;
  width: 30%;
  background: #F2F2F2;
}

.activites li {
width: calc((100% - 60px) / 4);
}

.hebergements a > figure,
.populaires a > figure ,
.activites figure{
  box-shadow: 5px 5px 5px #F2F2F2;
}

.activites figure{
  display: flex;
  flex-direction: column;
  place-content: baseline;
}

.activites img{
  width: 100%;
  height:  380px;
  border-radius: 10px 10px 0 0;
}

.activites figcaption{
  height: 40px;
  border-radius: 0 0 10px 10px ;
  font-weight: bold;
}

footer {
  place-content: space-between;
  background-color: #F2F2F2;
  padding: 0 150px 30px 20px ;
}

footer h3 {
  margin-bottom: 10px;
}

footer li {
  margin-bottom: 5px;
}


@media (max-width: 991px) {
  main {
    flex-flow: column;
  }

  .hebergements{
    width: 100%;
  }

  .populaires{
    width:100%;
  }

  .populaires ul{
    flex-direction: row;
  }


}

@media ( max-width: 767px) {

  .activites ul{
    flex-direction: column;
  }

  footer{
    flex-direction: column;
  }
}